
/* styling of an exposed element */
#mask {
	background:#678 url(img/mask_gradient_1000.png) no-repeat;
	background-position:-260px -79px;
}

form.expose {
	border:1px outset #ccc;
	background:#fff url(img/h150.png) repeat-x;
	padding:20px;
	margin:20px 0;
	text-align:center;
	width:350px;
	-moz-border-radius:4px;
}

label, input {
	display: block;
	width: 150px;
	float: left;
	margin-bottom: 10px;
}

label {
	text-align: right;
	width: 75px;
	padding-right: 20px;
}

br {
	clear: left;
}

/* end styling expose */

body {
	
}

/* get rid of those system borders being generated for A tags */
a:active {
  outline:none;
}

:focus {
  -moz-outline-style:none;
}
