form {
  background:#309a69;
  margin: 0 22px 22px 22px;
  padding: 40px;
  width: 280px;
}
form div { margin-bottom: 10px; }
form label {
  display: block;
  margin-left: 30px;
  font-size: 12px;
  color:#FFF;
 
  cursor: pointer;
}
form input {
  width: 200px;
  margin-left: 30px;
 
  font-size: 11px;
  font-family: Helvetica, Arial, sans-serif;
}
form textarea {
  width: 210px;
  height: 70px;
  padding: 5px;
  font-size: 11px;
  font-family: Helvetica, Arial, sans-serif;
}
form p {
  float: left;
  padding-right: 10px;
  margin-bottom: 0;
  color: #555555;
  font-size: 11px;
}
form p input { width: auto; }
form .clear {
  clear: both;
  margin: 0;
}
form .submit {
  margin-bottom: 0;
}
form .submit input {
  width: auto;
  cursor: pointer;
}
.ketchup-error-container-alt {
  margin: 10px;
  width: 510px;
  display: none;
}
