
.modal, .modal1{
	background-color:#fff;
	
	width:350px;
	padding:15px;
	text-align:left;
	border:2px solid #333;

	opacity:0.8;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-moz-box-shadow: 0 0 50px #ccc;
	-webkit-box-shadow: 0 0 50px #ccc;
}

.modal1{
	margin:100px 100px 100px 500px;
}

.modal1 h2 {
	background:url(../images/icons/Alert.png) 0 50% no-repeat;
	margin:0px;
	padding:10px 0 10px 45px;
	border-bottom:1px solid #78bbe6;
	font-size:20px;
		
}

.modal{
	display:none;
	
}

.modal h2 {
	background:url(../images/icons/Alert.png) 0 50% no-repeat;
	margin:0px;
	padding:10px 0 10px 45px;
	border-bottom:1px solid #78bbe6;
	font-size:20px;
	
}

.modal1 .fish a {
	padding:5px 15px;
	background:#78bbe6;
	color:#FFF;
}
.modal1 a:hover{
	font-weight:bold;
	background:#64a8c7;}
	
.button{
	background:#78bbe6;}
	/* end modal styling */

/* get rid of those system borders being generated for A tags */
a:active {
  outline:none;
}
#mask {
	background: url(../images/mask_gradient_1000.png) no-repeat;
	background-position:center;
}
:focus {
  -moz-outline-style:none;
}
