@charset "utf-8";
body {
	margin:0;
	padding:0;
	width:100%;
	color:#959595;
	font:normal 12px/1.8em Arial, Helvetica, sans-serif;
	background:url(../images/bg.jpg);
}
html {
	padding:0;
	margin:0;
}
.main {
	padding:0;
	margin:0;
	background:url(../images/main_bg.jpg) repeat-y center;
}
.main_email{
	width:100%;
	background:url(../images/main_bg.jpg) repeat-y center;
	}
.logo {
	float:left;
	width:600px;
	height:86px;
	padding:0;
	margin:0 auto;
}
h1 {
	margin:0;
	padding:20px 0 0 0;
	color:#636363;
	font:bold 38px/1.2em Arial, Helvetica, sans-serif;
	letter-spacing:-2px;
}
h1 a, h1 a:hover {
	color:#636363;
	text-decoration:none;
	
}
h1 span {
	color:#309a69;
}
h1 small {
	padding:0 10px;
	font:normal 12px/1.2em Arial, Helvetica, sans-serif;
	letter-spacing:normal;
}
h2 {
	font:normal 24px Arial, Helvetica, sans-serif;
	padding:8px 0;
	margin:0;
	color:#595959;
}
p {
	margin:8px 0;
	padding:0 0 8px 0;
	font:normal 11px/1.8em Arial, Helvetica, sans-serif;
}
p.spec {
}
a {
	color:#FFF;
	
}
a.rm, a.com {
	padding:0;
	text-decoration:none;
}
.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
	margin:0;
	padding:0;
}
.main_resize {
	margin:0 auto;
	width:1000px;
}
.header {
	margin:0 auto;
	width:923px;
}
.hbg {
	padding:0;
	margin:0 0 10px;
}

.menu_nav {
	margin:0 0px 0px 0px;
	padding:0;
	
	float:left;
}
.menu_nav ul {
	list-style:none;
	margin:0;
	padding:0;
	float:right;
	
}
.menu_nav ul li {
	margin:0;
	padding:10px 15px 10px 0;
	float:left;
	background: url(../images/menu_line.jpg) repeat-x top ;
}
.menu_nav ul li a {
	display:block;
	margin:0;
	padding:9px 25px;
	color:#878989;
	text-decoration:none;
	font-size:13px;
	line-height:10px;
}
.menu_nav ul li.active a{
	color:#fff;
	text-decoration:none;
	background:#309a69 ;
	
}
.menu_nav ul li a:hover {
	color:#fff;
	text-decoration:none;
	background:#64a8c7;
}
.content {
	padding:0;
	margin:0 auto;
	width:923px;
}
.log {
	margin:0;
	padding:10px 0px 10px 0;
	background: url(../images/menu_line.jpg) repeat-x top ;
}
.log img.fl {
	margin:4px 16px 4px 0;
	float:left;
}
.log .article {
	margin:0;
	padding:10px 0 5px 15px;
}
.log .article a {
	color:#FFF;
}
.log .post-data a {
	color:#595959;
}
.log .hiu a {
	padding:5px 15px;
	background:#309a69;
	color:#FFF;
}
.log a:hover{
	font-weight:bold;
	background:#2cb173;}
	
.log .login a {
	background:#309a69;
	color:#FFF;
}
.gantipas{
	padding:0px;
	margin:0 auto;
	width:923px;
}
.gantipas .spec a {
	padding:5px 15px;
	background:#309a69;
	color:#FFF;
	
}
.gantipas a:hover{
	font-weight:bold;
	background:#2cb173;}
	
.mainbar {
	margin:0;
	padding:0;
	float:right;
	width:700px;
}
.mainbar img.fl {
	margin:4px 16px 4px 0;
	float:left;
}
.mainbar .article {
	margin:0;
	padding:10px 0 5px 15px;
}

.mainbar .post-data a {
	color:#595959;
}
.mainbar .spec a {
	padding:5px 15px;
	background:#309a69;
	color:#FFF;
}
.mainbar a:hover {
    color:#FFF;
}
.mainbar .login a {
	background:#309a69;
	color:#FFF;
}
.rightbar {
	padding:0;
	float:right;
	width:200px;
	border-bottom: 1px solid #E9E8DD;
}

ul.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
	text-align: left;
}

ul.navigation li {
   padding:1px 0 2px 10px;
   border-bottom: 1px solid #b6b6b6;
}


ul.navigation, ul.ex_menu {
	margin:0;
	padding:0;
	color:#939393;
	list-style:none;
}

ul.navigation li a, ul.ex_menu li a {
	margin:0;
}

ul.ex_menu li {
	padding:2px 0 2px 15px;
}

ul.navigation li a, ul.ex_menu li a {
	display:block;
	width: 130px;
	color:#959595;
	position: relative;
	height: 30px;
	text-decoration:none;
	padding: 12px 0 0 60px;
	margin-left:-13px;
}


ul.navigation a .ui_icon { position: absolute; top: 0; left: 15px; width: 40px; height: 40px; }
ul.navigation a .home { background: url(../images/templatemo_home.png) no-repeat; }
ul.navigation a .profile { background: url(../images/profile.png) no-repeat; }
ul.navigation a .hak { background: url(../images/templatemo_hak.png) no-repeat; }
ul.navigation a .guru { background: url(../images/guru.png)  no-repeat; }
ul.navigation a .walimurid { background:  url(../images/walimurid.png) no-repeat; }
ul.navigation a .murid { background:  url(../images/murid.png) no-repeat; }
ul.navigation a .catatan{ background:  url(../images/catatan.png) no-repeat; }
ul.navigation a .kelas { background:  url(../images/kelas.png) no-repeat; }
ul.navigation a .matpel { background:  url(../images/matpel.png) no-repeat; }
ul.navigation a .nilai { background:  url(../images/nilai.png) no-repeat; }
ul.navigation a .absen{ background:  url(../images/absen.png) no-repeat; }
ul.navigation a .reports{ background:  url(../images/reports.png) no-repeat; }
ul.navigation a .contact{ background:  url(../images/contact.png) no-repeat; }

ul.navigation li a:hover {
	color: #FFF;
	background:#2cb173;
}

ul.navigation a:hover .home, ul.navigation li.active a .home {
	background: url(../images/templatemo_home_hover.png) no-repeat;
}
ul.navigation a:hover .contact, ul.navigation li.active a .contact {
	background: url(../images/contacthover.png) no-repeat;
}
ul.navigation a:hover .hak, ul.navigation li.active a .hak {
	background: url(../images/templatemo_hak_hover.png) no-repeat;
}
ul.navigation a:hover .guru, ul.navigation li.active a .guru {
	background: url(../images/guruhover.png) no-repeat;
}
ul.navigation a:hover .walimurid, ul.navigation li.active a .walimurid {
	background: url(../images/walimuridhover.png) no-repeat;
}
ul.navigation a:hover .catatan, ul.navigation li.active a .catatan {
	background: url(../images/catatanhover.png) no-repeat;
}
ul.navigation a:hover .murid, ul.navigation li.active a .murid {
	background: url(../images/muridhover.png) no-repeat;
}
ul.navigation a:hover .kelas, ul.navigation li.active a .kelas {
	background: url(../images/kelashover.png) no-repeat;
}
ul.navigation a:hover .matpel, ul.navigation li.active a .matpel {
	background: url(../images/matpelhover.png) no-repeat;
}
ul.navigation a:hover .nilai, ul.navigation li.active a .nilai {
	background: url(../images/nilaihover.png) no-repeat;
}
ul.navigation a:hover .absen, ul.navigation li.active a .absen {
	background: url(../images/absenhover.png) no-repeat;
}
ul.navigation a:hover .profile, ul.navigation li.active a .profile {
	background: url(../images/profilehover.png) no-repeat;
}
ul.navigation a:hover .reports, ul.navigation li.active a .reports {
	background: url(../images/reportshover.png) no-repeat;
}


ul.navigation a:focus {
    outline: none;
}

ul.navigation a:hover, ul.ex_menu li a:hover, ul.navigation li.active a, ul.ex_menu li.active a {
	font-weight: bold;
	color:#FFF; 
    background:#309a69; 
}

.sidebar {
	padding:0;
	float:left;
	width:200px;
	border-bottom: 1px solid #E9E8DD;
}
.sidebar .gadget {
	
	margin:0;
	padding:10px 15px 10px 0;
}
.sidebar .gadget .testi {
	padding:0 0 0 0;
}
.sidebar .gadget .title {
	text-align:right;
}
.sidebar .gadget span.q {
	text-align:right;
	font:normal 60px/12px Arial, Helvetica, sans-serif;
	color:#d9d9d9;
}
ul.sb_menu, ul.ex_menu {
	margin:0;
	padding:0;
	color:#939393;
	list-style:none;
}
ul.sb_menu li, ul.ex_menu li {
	margin:0;
}
ul.sb_menu li {
	padding:2px 0 2px 15px;
	border-bottom: 1px solid #b6b6b6;
}
ul.ex_menu li {
	padding:2px 0 2px 15px;
}
ul.sb_menu li a, ul.ex_menu li a {
	display:block;
	color:#959595;
	text-decoration:none;
	padding:5px;
	margin-left:-15px;
	padding-left:15px;
}
ul.sb_menu li a:hover, ul.ex_menu li a:hover, ul.sb_menu li.active a, ul.ex_menu li.active a {
	font-weight: bold;
	color:#FFF; 
    background:#309a69; 
	
}
ul.sb_menu li a:hover {
	text-decoration:none;
	 background:#64a8c7; 
}
ul.ex_menu li a:hover {
	text-decoration:none;
}
.content .mainbar .comment {
	margin:0;
	padding:16px 0 0 0;
}
.content .mainbar .comment img.userpic {
	border:1px solid #dedede;
	margin:10px 16px 0 0;
	padding:0;
	float:left;
}
.fbg {
	padding:10px 0;
	/*background:url(../images/fbg_bg.jpg) repeat-y center;*/
}
.fbg_resize {
	margin:0 auto;
	padding:0;
	width:923px;
}

.fbg p, .fbg h2 {
	color:#959595;
}
.fbg a {
	color:#fbfbfb;
}
.fbg .col {
	margin:0;
	float:left;
	background:url(../images/fbg_line.gif) repeat-y right;
}
.fbg .c1 {
	padding:0 15px 0 0;
	width:600px;
	
}
.fbg .c2 {
	padding:0 15px;
	width:270px;
	background:none;
}
.fbg .c3 {
	padding:0 0 0 15px;
	width:280px;
	background:none;
}
.fbg .c4 {
	padding:0 15px 0 0 ;
	width:285px;
	background:none;
}
.fbg .c5 {
	padding:0 15px ;
	width:250px;
	background:none;
}

.fbg .c1 img {
	margin:8px 16px 8px 0;
}
.fbg .c3 img {
	margin:8px 16px 4px 0;
	
}
.footer {
/*	background:url(../images/main_bg.jpg) repeat-y center;*/
	background:url(../images/fbg_bg.jpg) repeat-y center;
}

.footer_resize {
	margin:0 auto;
	padding:20px 0;
	width:923px;
	color:#9a9a9a;
}
.footer p {
	margin:0;
	padding:4px 0;
	line-height:normal;
	color:#FFFFFF;
}

	
.footer a {
	color:#9a9a9a;
	padding:inherit;
	text-decoration:underline;
}
.footer a:hover {
	text-decoration:none;
	
}
.footer .lf {
	float:left;
}
.footer .rf {
	float:right;
}
ol {
	list-style:none;
}
ol li {
	display:block;
	clear:both;
}
ol li label {
	display:block;
	margin:0;
	padding:16px 0 0 0;
}
ol li input.text {
	width:350px;
	border:1px solid #c0c0c0;
	color:#0ca3d2;
	margin:2px 0;
	padding:5px 2px;
	height:16px;
	background:#fff;
}
ol li textarea {
	width:350px;
	border:1px solid #c0c0c0;
	color:#0ca3d2;
	margin:2px 0;
	padding:2px;
	background:#fff;
}
ol li .send {
	margin:16px 0 0 0;
}
.search {
	float:right;
	width:250px;
	padding:25px 0;
}
.search span {
	width:235px;
	display:block;
	background:#FFF;
	height:29px;
	margin:0;
	padding:0;
	border:1px solid #e1dddd;
}
.search input#s {
	float:left;
	width:185px;
	padding:7px 0 7px 10px;
	margin:0;
	border:0;
	background:none;
	color:#afaeae;
	font:normal 12px/15px Arial, Helvetica, sans-serif;
}
.search .btn {
	float:left;
	padding:0;
	margin:0;
	border:0;
	width:auto;
}
.pagenavi {
	clear:both;
	font:normal 11px Arial, Helvetica, sans-serif;
	margin-left:0px;
	text-align:left;
	padding:15px 15px;
	
}
.pagenavi a, .pagenavi .current {
	margin-left:3px;
	padding:3px 8px;
	text-decoration:none;
	color:#309a69;
	background:#f9fbfc;
	border:1px solid #d9e3cb;
}
.pagenavi a:hover, .pagenavi .current {
	background:#309a69;
	color:#FFF;
}
.pagenavi .pages {
	float:left;
}
.fl {
	float:left;
}
.fr {
	float:right;
}
.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}

