/*
Credit: http://www.templatemo.com
*/


a.more { display: block; margin-top: 20px; width: 90px; height: 28px; line-height: 25px; background: url(../images/templatemo_more.png) no-repeat }

p { margin: 0 0 10px 0; padding: 0; }
img { border: none; }
blockquote { font-style: italic; margin: 0 0 0 10px;}
cite { font-weight: bold; color:#282828; }
cite a, cite a:link, cite a:visited  { font-size: 12px; text-decoration: none; font-style: normal }
cite span { font-weight: 400; color: #96d0f5; }
em { text-decoration: underline }

h1, h2, h3, h4, h5, h6 { color: #4bb1f3; font-weight: normal; }
h1 { font-size: 48px; margin: 0 0 30px; padding: 5px 0 }
h2 { font-size: 30px; margin: 0 0 25px; padding: 5px 0; }
h3 { font-size: 22px; margin: 0 0 20px; padding: 0; }
h4 { font-size: 18px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 15px; margin: 0 0 5px; padding: 0; font-weight:bold }
h9 { font-size: 15px; color: #FF0000; margin: 0 0 5px; padding: 0; font-weight:bold }
h12 { font-size: 13px; color: #FF0000; margin: 0 0 5px; padding: 0; font-weight:bold }

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }

.float_l { float: left }
.float_r { float: right }

.image_frame { 
	display: inline-block; 
	padding: 4px; 
	border: 1px solid #ccc; 
	margin: 3px 0 15px 0; 
}

.login{
	background:#fff;
	border:1px solid #ddd;
	margin:0 auto;
	font-size:16px;
	-moz-box-shadow:1px 1px 7px #ccc;
	-webkit-box-shadow:1px 1px 7px #ccc;
	box-shadow:1px 1px 7px #ccc;
}

.login h2{
	padding:5px 15px 5px 15px;
	background-color:#78bbe6;
	color:#fff;
	border-bottom:1px solid #ddd;
}

.login h3{
	padding:5px 15px 5px 15px;
	background-color:#78bbe6;
	color:#fff;
	font-size:42px;
	
}

.login input[type="text"],
.login input[type="password"]{
	border: solid 1px #E5E5E5;
	background: #FFFFFF;
	margin: 5px 30px 0px 30px;
	padding: 5px;
	display:block;
	font-size:12px;
	width:75%;
	background: 
		-webkit-gradient(
			linear,
			left top,
			left 25,
			from(#FFFFFF),
			color-stop(4%, #EEEEEE),
			to(#FFFFFF)
		);
	background: 
		-moz-linear-gradient(
			top,
			#FFFFFF,
			#EEEEEE 1px,
			#FFFFFF 25px
			);
	-moz-box-shadow: 0px 0px 8px #f0f0f0;
	-webkit-box-shadow: 0px 0px 8px #f0f0f0;
	box-shadow: 0px 0px 8px #f0f0f0;
}
.login input[type="text"]:focus,
.login input[type="password"]:focus{
	background:#feffef;
}
.login .bottom{
	background-color:#78bbe6;
	border-top:1px solid #ddd;
	margin-top:20px;
	clear:both;
	color:#fff;
	text-shadow:1px 1px 1px #000;
}
.login .bottom a{
	display:block;
	clear:both;
	padding:10px 30px;
	text-align:right;
	color:#ffa800;
	text-shadow:1px 1px 1px #000;
}

.login .edit {
	padding:12px 30px;
	float: right;
	margin: 0px 10px 5px 10px;
}

.login .edit_new {
	padding:12px 10px 0px 0px;
	float: right;
	margin: 0px 0px 0px 10px;
}


.login label{
	display:block;
	padding:10px 30px 0px 30px;
	margin:0px 0px 0px 0px;
}

.login .thn_ajr{
	display:block;
	padding:0px 30px 0px 30px;
	margin:0px 0px 0px 0px;
}

.login label a{
	font-size:14px;
}

.login input[type="submit"] {
	background: #e3e3e3;
	border: 1px solid #ccc;
	color: #333;
	font-family: "Trebuchet MS", "Myriad Pro", sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 4px 0 5px;
	text-align: center;
	width: 100px;
	cursor:pointer;
	float:right;
	margin:15px 20px 10px 10px;
	text-shadow: 0px 1px 0px #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0px 0px 2px #fff inset;
	-webkit-box-shadow: 0px 0px 2px #fff inset;
	box-shadow: 0px 0px 2px #fff inset;
}
.login input[type="submit"]:hover {
	background: #d9d9d9;
	-moz-box-shadow: 0px 0px 2px #eaeaea inset;
	-webkit-box-shadow: 0px 0px 2px #eaeaea inset;
	box-shadow: 0px 0px 2px #eaeaea inset;
	color: #222;
}

body.log_ad{
	font-family:"Trebuchet MS", "Myriad Pro", Arial, sans-serif;
	font-size:14px;
	background:#f4f4f4 url(../images/bg.gif) repeat top left;
	color:#333;
	text-shadow:1px 1px 1px #fff;
	overflow-y:scroll;
}



h1 {
	margin:0;
	padding:20px 0 0 0;
	color:#636363;
	font:bold 38px/1.2em Arial, Helvetica, sans-serif;
	letter-spacing:-2px;
}
h1 a, h1 a:hover {
	color:#636363;
	text-decoration:none;
}
h1 span {
	color:#78bbe6;
}
h1 small {
	padding:0 10px;
	font:normal 12px/1.2em Arial, Helvetica, sans-serif;
	letter-spacing:normal;
}
h2 {
	font:normal 24px Arial, Helvetica, sans-serif;
	padding:8px 0;
	margin:0;
	color:#595959;
}

#site_title_login { 
	float: left; 
}

#site_title_login h1 { 
	margin: 0px 0px 0px -28px; padding: 0px 0px 0px 0px; 
}

#site_title_login h1 a { 
	display: block; 
	font-size: 12px; 
	font-family: Georgia, "Times New Roman", Times, serif; width: 900px; 
	height: 80px; 
	color: #acacac; 
	text-indent: -10000px; 
	background: url(../images/icons/header.png) no-repeat center left; 
}

.login_admin{
	background:#fff;
	border:1px solid #ddd;
	margin:0 auto;
	width:350px;
	font-size:16px;
	-moz-box-shadow:1px 1px 7px #ccc;
	-webkit-box-shadow:1px 1px 7px #ccc;
	box-shadow:1px 1px 7px #ccc;
}

.login_admin h3{
	padding:5px 15px 5px 15px;
	background-color:#78bbe6;
	color:#fff;
	font-size:42px;
	border-bottom:1px solid #ddd;
}

.login_admin input[type="text"],
.login_admin input[type="password"]{
	border: solid 1px #E5E5E5;
	background: #FFFFFF;
	margin: 5px 30px 0px 30px;
	padding: 5px;
	display:block;
	font-size:12px;
	width:75%;
	background: 
		-webkit-gradient(
			linear,
			left top,
			left 25,
			from(#FFFFFF),
			color-stop(4%, #EEEEEE),
			to(#FFFFFF)
		);
	background: 
		-moz-linear-gradient(
			top,
			#FFFFFF,
			#EEEEEE 1px,
			#FFFFFF 25px
			);
	-moz-box-shadow: 0px 0px 8px #f0f0f0;
	-webkit-box-shadow: 0px 0px 8px #f0f0f0;
	box-shadow: 0px 0px 8px #f0f0f0;
}
.login_admin input[type="text"]:focus,
.login_admin input[type="password"]:focus{
	background:#feffef;
}
.login_admin .bottom{
	background-color:#78bbe6;
	border-top:1px solid #ddd;
	margin-top:20px;
	clear:both;
	color:#fff;
	text-shadow:1px 1px 1px #000;
}
.login_admin .bottom a{
	display:block;
	clear:both;
	padding:10px 30px;
	text-align:right;
	color:#ffa800;
	text-shadow:1px 1px 1px #000;
}

.login_admin .edit {
	float: right;
	margin: 0px 10px 5px 10px;
}

.login_admin label{
	display:block;
	padding:10px 30px 0px 30px;
	margin:0px 0px 0px 0px;
}

.login_admin label a{
	font-size:14px;
}

.login_admin input[type="submit"] {
	background: #e3e3e3;
	border: 1px solid #ccc;
	color: #333;
	font-family: "Trebuchet MS", "Myriad Pro", sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 4px 0 5px;
	text-align: center;
	width: 100px;
	cursor:pointer;
	float:right;
	margin:15px 20px 10px 10px;
	text-shadow: 0px 1px 0px #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0px 0px 2px #fff inset;
	-webkit-box-shadow: 0px 0px 2px #fff inset;
	box-shadow: 0px 0px 2px #fff inset;
}
.login_admin input[type="submit"]:hover {
	background: #d9d9d9;
	-moz-box-shadow: 0px 0px 2px #eaeaea inset;
	-webkit-box-shadow: 0px 0px 2px #eaeaea inset;
	box-shadow: 0px 0px 2px #eaeaea inset;
	color: #222;
}

.content_a{
	background:#fff;
	border:1px solid #ddd;
	margin:25px auto;
	font-size:16px;
	-moz-box-shadow:1px 1px 7px #ccc;
	-webkit-box-shadow:1px 1px 7px #ccc;
	box-shadow:1px 1px 7px #ccc;
}

.c_w350{
	width:350px;	
}

.c_w450{
	width:450px;	
}
.c_w500{
	width:500px;	
}

.c_w550{
	width:550px;	
}

.c_w600{
	width:600px;	
}

.c_w650{
	width:650px;	
}

.content_a h3{
	padding:5px 15px 5px 15px;
	background-color:#78bbe6;
	color:#fff;
	font-size:30px;
	border-bottom:1px solid #ddd;
}

.content_a input[type="radio"],
.content_a input[type="checkbox"]{
	margin: 10px 10px 6px 30px;
}

.content_a select.tipe_a{
	border: solid 1px #E5E5E5;
	background: #FFFFFF;
	margin: 5px 30px 0px 30px;
	padding: 5px;
	display:block;
	font-size:12px;
	background: 
		-webkit-gradient(
			linear,
			left top,
			left 25,
			from(#FFFFFF),
			color-stop(4%, #EEEEEE),
			to(#FFFFFF)
		);
	background: 
		-moz-linear-gradient(
			top,
			#FFFFFF,
			#EEEEEE 1px,
			#FFFFFF 25px
			);
	-moz-box-shadow: 0px 0px 8px #f0f0f0;
	-webkit-box-shadow: 0px 0px 8px #f0f0f0;
	box-shadow: 0px 0px 8px #f0f0f0;
}

.t_w90{
	width:90%;
}

.content_a select.class{
	margin: 5px 30px 0px 30px;
}



.content_a select.thn_ajr{
	margin: -25px 20px 30px 100px;
}

.content_a select.sip{
	margin: -20px 20px 30px 90px;
}

.content_a input[type="text"].thn_ajr{
	margin: -25px 20px 30px 100px;
}

.content_a select.class , .content_a select.thn_ajr{
	border: solid 1px #E5E5E5;
	background: #FFFFFF;
	padding: 4px;
	font-size:12px;
	background: 
		-webkit-gradient(
			linear,
			left top,
			left 25,
			from(#FFFFFF),
			color-stop(4%, #EEEEEE),
			to(#FFFFFF)
		);
	background: 
		-moz-linear-gradient(
			top,
			#FFFFFF,
			#EEEEEE 1px,
			#FFFFFF 25px
			);
	-moz-box-shadow: 0px 0px 8px #f0f0f0;
	-webkit-box-shadow: 0px 0px 8px #f0f0f0;
	box-shadow: 0px 0px 8px #f0f0f0;
}


.content_a select.tipe_b_first{
	border: solid 1px #E5E5E5;
	background: #FFFFFF;
	margin: 5px 0px 0px 30px;
	padding: 4px;
	font-size:12px;
	background: 
		-webkit-gradient(
			linear,
			left top,
			left 25,
			from(#FFFFFF),
			color-stop(4%, #EEEEEE),
			to(#FFFFFF)
		);
	background: 
		-moz-linear-gradient(
			top,
			#FFFFFF,
			#EEEEEE 1px,
			#FFFFFF 25px
			);
	-moz-box-shadow: 0px 0px 8px #f0f0f0;
	-webkit-box-shadow: 0px 0px 8px #f0f0f0;
	box-shadow: 0px 0px 8px #f0f0f0;
}

.content_a select.tipe_b{
	border: solid 1px #E5E5E5;
	background: #FFFFFF;
	margin: 0px 0px 0px 0px;
	padding: 4px;
	font-size:12px;
	background: 
		-webkit-gradient(
			linear,
			left top,
			left 25,
			from(#FFFFFF),
			color-stop(4%, #EEEEEE),
			to(#FFFFFF)
		);
	background: 
		-moz-linear-gradient(
			top,
			#FFFFFF,
			#EEEEEE 1px,
			#FFFFFF 25px
			);
	-moz-box-shadow: 0px 0px 8px #f0f0f0;
	-webkit-box-shadow: 0px 0px 8px #f0f0f0;
	box-shadow: 0px 0px 8px #f0f0f0;
}

.content_a select.tipe_a option,
.content_a select.tipe_b_first option,
.content_a select.tipe_b option{
	border-right-style:groove;	
}

.content_a select.tipe_a:focus,
.content_a select.tipe_b:focus,
.content_a select.tipe_b_first:focus{
	background:#feffef;
}

.content_a input[type="text"],
.content_a input[type="password"]{
	border: solid 1px #E5E5E5;
	background: #FFFFFF;
	margin: 5px 30px 0px 30px;
	padding: 5px;
	display:block;
	font-size:12px;
	width:50%;
	background: 
		-webkit-gradient(
			linear,
			left top,
			left 25,
			from(#FFFFFF),
			color-stop(4%, #EEEEEE),
			to(#FFFFFF)
		);
	background: 
		-moz-linear-gradient(
			top,
			#FFFFFF,
			#EEEEEE 1px,
			#FFFFFF 25px
			);
	-moz-box-shadow: 0px 0px 8px #f0f0f0;
	-webkit-box-shadow: 0px 0px 8px #f0f0f0;
	box-shadow: 0px 0px 8px #f0f0f0;
}

.content_a input[type="text"]:focus,
.content_a input[type="password"]:focus{
	background:#feffef;
}

.content_a textarea{
	border: solid 1px #E5E5E5;
	background: #FFFFFF;
	margin: 5px 30px 0px 30px;
	padding: 5px;
	display:block;
	font-size:12px;
	width:75%;
	background: 
		-webkit-gradient(
			linear,
			left top,
			left 25,
			from(#FFFFFF),
			color-stop(4%, #EEEEEE),
			to(#FFFFFF)
		);
	background: 
		-moz-linear-gradient(
			top,
			#FFFFFF,
			#EEEEEE 1px,
			#FFFFFF 25px
			);
	-moz-box-shadow: 0px 0px 8px #f0f0f0;
	-webkit-box-shadow: 0px 0px 8px #f0f0f0;
	box-shadow: 0px 0px 8px #f0f0f0;
}

.content_a textarea:focus{
	background:#feffef;
}

.content_a .bottom{
	background-color:#78bbe6;
	border-top:1px solid #ddd;
	margin-top:0px;
	clear:both;
	color:#fff;
	text-shadow:1px 1px 1px #000;
}
.content_a .bottom a{
	display:block;
	clear:both;
	text-align:right;
	color:#ffa800;
	text-shadow:1px 1px 1px #000;
}

.content_a .edit {
	padding:15px 30px;
	float: right;
	margin: 0px 10px 5px 10px;
}

.content_a label{
	display:block;
	padding:10px 30px 0px 30px;
	margin:0px 0px 0px 0px;
}

.content_a label a{
	font-size:14px;
}

.content_a input{
	border: solid 1px #E5E5E5;
	background: #FFFFFF;
	margin: 5px 10px 0px 40px;
	width: 10%;
	padding: 3px ;
	display:inline-block;
	font-size:12px;
	background: 
		-webkit-gradient(
			linear,
			left top,
			left 25,
			from(#FFFFFF),
			color-stop(4%, #EEEEEE),
			to(#FFFFFF)
		);
	background: 
		-moz-linear-gradient(
			top,
			#FFFFFF,
			#EEEEEE 1px,
			#FFFFFF 25px
			);
	-moz-box-shadow: 0px 0px 8px #f0f0f0;
	-webkit-box-shadow: 0px 0px 8px #f0f0f0;
	box-shadow: 0px 0px 8px #f0f0f0;
}

.content_a input[type="submit"].kelas {
	margin:15px 30px 0 0px;
}

.content_a input[type="submit"].thn_ajr {
	margin:-27px -10px 0 0px;
}
.content_a input[type="submit"].sip {
	margin:-55px -100px 20px 100px;
}

.content_a input[type="submit"],
.content_a input[type="button"] {
	background: #e3e3e3;
	border: 1px solid #ccc;
	color: #333;
	font-family: "Trebuchet MS", "Myriad Pro", sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 4px 0 5px;
	text-align: center;
	width: 100px;
	cursor:pointer;
	float:right;
	margin:15px 40px 10px 10px;
	text-shadow: 0px 1px 0px #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0px 0px 2px #fff inset;
	-webkit-box-shadow: 0px 0px 2px #fff inset;
	box-shadow: 0px 0px 2px #fff inset;
}


.content_a input[type="submit"]:hover,
.content_a input[type="button"]:hover {
	background: #d9d9d9;
	-moz-box-shadow: 0px 0px 2px #eaeaea inset;
	-webkit-box-shadow: 0px 0px 2px #eaeaea inset;
	box-shadow: 0px 0px 2px #eaeaea inset;
	color: #222;
}
.content_a_a{}
.content_a_ad input[type="submit"],
.content_a_ad input[type="button"] {
	background: #78bbe6;
	border: 1px solid #ccc;
	color: #f2f7fa;
	font-family: "Trebuchet MS", "Myriad Pro", sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 4px 0 5px;
	text-align: center;
	width: 100px;
	cursor:pointer;
	float:left;
	margin:20px 0px 10px 10px;
	text-shadow: 0px 1px 0px #333;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0px 0px 2px #fff inset;
	-webkit-box-shadow: 0px 0px 2px #fff inset;
	box-shadow: 0px 0px 2px #fff inset;
}
.content_a_ak input{
	border: solid 1px #E5E5E5;
	background: #FFFFFF;
	margin: -20px 50px 0px 60px;
	width: 30px;
	padding: 3px ;
	display:inline-block;
	font-size:12px;
	background: 
		-webkit-gradient(
			linear,
			left top,
			left 25,
			from(#b1ceed),
			color-stop(4%, #b1ceed),
			to(#b1ceed)
		);
	background: 
		-moz-linear-gradient(
			top,
			#FFFFFF,
			#EEEEEE 1px,
			#FFFFFF 25px
			);
	-moz-box-shadow: 0px 0px 8px #f0f0f0;
	-webkit-box-shadow: 0px 0px 8px #f0f0f0;
	box-shadow: 0px 0px 8px #f0f0f0;
}

.content_a_a input{
	border: solid 1px #E5E5E5;
	background: #FFFFFF;
	margin: 5px 10px 0px 10px;
	width: 10%;
	padding: 3px ;
	display:inline-block;
	font-size:12px;
	background: 
		-webkit-gradient(
			linear,
			left top,
			left 25,
			from(#FFFFFF),
			color-stop(4%, #EEEEEE),
			to(#FFFFFF)
		);
	background: 
		-moz-linear-gradient(
			top,
			#FFFFFF,
			#EEEEEE 1px,
			#FFFFFF 25px
			);
	-moz-box-shadow: 0px 0px 8px #f0f0f0;
	-webkit-box-shadow: 0px 0px 8px #f0f0f0;
	box-shadow: 0px 0px 8px #f0f0f0;
}
	

.content_a_a input[type="submit"],
.content_a_a input[type="button"] {
	background: #78bbe6;
	border: 1px solid #ccc;
	color: #f2f7fa;
	font-family: "Trebuchet MS", "Myriad Pro", sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 4px 0 5px;
	text-align: center;
	width: 100px;
	cursor:pointer;
	float:right;
	margin:-28px 60px 10px 10px;
	text-shadow: 0px 1px 0px #333;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0px 0px 2px #fff inset;
	-webkit-box-shadow: 0px 0px 2px #fff inset;
	box-shadow: 0px 0px 2px #fff inset;
}

.content_a_a input[type="text"],
.content_a_a input[type="password"]{
	border: solid 1px #E5E5E5;
	background: #FFFFFF;
	margin: 0px 0px 0px -3px;
	padding: 3px ;
	display:block;
	text-align:center;
	font-size:12px;
	width:20%;
	background: 
		-webkit-gradient(
			linear,
			left top,
			left 25,
			from(#FFFFFF),
			color-stop(4%, #EEEEEE),
			to(#FFFFFF)
		);
	background: 
		-moz-linear-gradient(
			top,
			#FFFFFF,
			#EEEEEE 1px,
			#FFFFFF 25px
			);
	-moz-box-shadow: 0px 0px 8px #f0f0f0;
	-webkit-box-shadow: 0px 0px 8px #f0f0f0;
	box-shadow: 0px 0px 8px #f0f0f0;
}	

.content_a_a input[type="submit"]:hover,
.content_a_a input[type="button"]:hover {
	background: #a3d3f2;
	-moz-box-shadow: 0px 0px 2px #eaeaea inset;
	-webkit-box-shadow: 0px 0px 2px #eaeaea inset;
	box-shadow: 0px 0px 2px #eaeaea inset;
	color: #FFF;
}



.content_a .thn_ajr{
	margin: 0 0 0 -30px;
}

.content_a strong{
	margin: 0 0 0 0px;
	color: #78bbe6; 
}

.content_a span{
	margin: 0 0 0 15px; 
}

.content_b{
	background:#fff;
	border:1px solid #ddd;
	margin:25px auto;
	font-size:16px;
	-moz-box-shadow:1px 1px 7px #ccc;
	-webkit-box-shadow:1px 1px 7px #ccc;
	box-shadow:1px 1px 7px #ccc;
}

.content_b h3{
	padding:5px 15px 5px 15px;
	background-color:#78bbe6;
	color:#fff;
	font-size:42px;
	border-bottom:1px solid #ddd;
}

.content_b input[type="text"],
.content_b input[type="password"]{
	border: solid 1px #E5E5E5;
	background: #FFFFFF;
	margin: 0px 0px 0px -3px;
	padding: 3px ;
	display:block;
	font-size:12px;
	width:90%;
	background: 
		-webkit-gradient(
			linear,
			left top,
			left 25,
			from(#FFFFFF),
			color-stop(4%, #EEEEEE),
			to(#FFFFFF)
		);
	background: 
		-moz-linear-gradient(
			top,
			#FFFFFF,
			#EEEEEE 1px,
			#FFFFFF 25px
			);
	-moz-box-shadow: 0px 0px 8px #f0f0f0;
	-webkit-box-shadow: 0px 0px 8px #f0f0f0;
	box-shadow: 0px 0px 8px #f0f0f0;
}

.content_b input[type="text"]:focus,
.content_b input[type="password"]:focus{
	background:#feffef;
}
.content_b .bottom{
	background-color:#78bbe6;
	border-top:1px solid #ddd;
	margin-top:20px;
	clear:both;
	color:#fff;
	text-shadow:1px 1px 1px #000;
}
.content_b .bottom a{
	display:block;
	clear:both;
	text-align:right;
	color:#ffa800;
	text-shadow:1px 1px 1px #000;
}

.content_b .edit {
	padding:15px 30px;
	float: right;
	margin: 0px 10px 5px 10px;
}

.content_b label{
	display:block;
	padding:10px 30px 0px 30px;
	margin:0px 0px 0px 0px;
}

.content_b label a{
	font-size:14px;
}

.content_b input[type="submit"],
.content_b input[type="button"] {
	background: #e3e3e3;
	border: 1px solid #ccc;
	color: #333;
	font-family: "Trebuchet MS", "Myriad Pro", sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 4px 0 5px;
	text-align: center;
	width: 100px;
	cursor:pointer;
	float:right;
	margin:15px 20px 10px 10px;
	text-shadow: 0px 1px 0px #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0px 0px 2px #fff inset;
	-webkit-box-shadow: 0px 0px 2px #fff inset;
	box-shadow: 0px 0px 2px #fff inset;
}
.content_b input[type="submit"]:hover,
.content_b input[type="button"]:hover {
	background: #d9d9d9;
	-moz-box-shadow: 0px 0px 2px #eaeaea inset;
	-webkit-box-shadow: 0px 0px 2px #eaeaea inset;
	box-shadow: 0px 0px 2px #eaeaea inset;
	color: #222;
}


.content_b_b{}
.content_b_b input{
	border: solid 1px #E5E5E5;
	background: #FFFFFF;
	margin: 5px 10px 0px 10px;
	width: 10%;
	padding: 3px ;
	display:inline-block;
	font-size:12px;
	background: 
		-webkit-gradient(
			linear,
			left top,
			left 25,
			from(#FFFFFF),
			color-stop(4%, #EEEEEE),
			to(#FFFFFF)
		);
	background: 
		-moz-linear-gradient(
			top,
			#FFFFFF,
			#EEEEEE 1px,
			#FFFFFF 25px
			);
	-moz-box-shadow: 0px 0px 8px #f0f0f0;
	-webkit-box-shadow: 0px 0px 8px #f0f0f0;
	box-shadow: 0px 0px 8px #f0f0f0;
}
	

.content_b_b input[type="submit"],
.content_b_b input[type="button"] {
	background: #78bbe6;
	border: 1px solid #ccc;
	color: #f2f7fa;
	font-family: "Trebuchet MS", "Myriad Pro", sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 4px 0 5px;
	text-align: center;
	width: 100px;
	cursor:pointer;
	float:right;
	margin:20px 40px 10px 10px;
	text-shadow: 0px 1px 0px #333;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0px 0px 2px #fff inset;
	-webkit-box-shadow: 0px 0px 2px #fff inset;
	box-shadow: 0px 0px 2px #fff inset;
}

.content_b_b input[type="submit"]:hover,
.content_b_b input[type="button"]:hover {
	background: #a3d3f2;
	-moz-box-shadow: 0px 0px 2px #eaeaea inset;
	-webkit-box-shadow: 0px 0px 2px #eaeaea inset;
	box-shadow: 0px 0px 2px #eaeaea inset;
	color: #FFF;
}

.content_c{
	background:#fff;
	border:1px solid #ddd;
	margin:25px auto;
	font-size:16px;
	-moz-box-shadow:1px 1px 7px #ccc;
	-webkit-box-shadow:1px 1px 7px #ccc;
	box-shadow:1px 1px 7px #ccc;
}
.content_c input{
	border: solid 1px #E5E5E5;
	background: #FFFFFF;
	margin: 5px 10px 0px 10px;
	width: 100%;
	padding: 3px ;
	display:inline-block;
	font-size:12px;
	background: 
		-webkit-gradient(
			linear,
			left top,
			left 25,
			from(#FFFFFF),
			color-stop(4%, #EEEEEE),
			to(#FFFFFF)
		);
	background: 
		-moz-linear-gradient(
			top,
			#FFFFFF,
			#EEEEEE 1px,
			#FFFFFF 25px
			);
	-moz-box-shadow: 0px 0px 8px #f0f0f0;
	-webkit-box-shadow: 0px 0px 8px #f0f0f0;
	box-shadow: 0px 0px 8px #f0f0f0;
}

.content_c h3{
	padding:5px 15px 5px 15px;
	background-color:#78bbe6;
	color:#fff;
	font-size:42px;
	border-bottom:1px solid #ddd;
}

.content_c input[type="text"]{
	border: solid 1px #E5E5E5;
	background: #FFFFFF;
	margin: 5px 10px 0px 10px;
	width: 20%;
	padding: 3px ;
	display:inline-block;
	font-size:12px;
	background: 
		-webkit-gradient(
			linear,
			left top,
			left 25,
			from(#FFFFFF),
			color-stop(4%, #EEEEEE),
			to(#FFFFFF)
		);
	background: 
		-moz-linear-gradient(
			top,
			#FFFFFF,
			#EEEEEE 1px,
			#FFFFFF 25px
			);
	-moz-box-shadow: 0px 0px 8px #f0f0f0;
	-webkit-box-shadow: 0px 0px 8px #f0f0f0;
	box-shadow: 0px 0px 8px #f0f0f0;
}

.content_c input[type="text"]:focuss{
	background:#feffef;
}
.content_c .bottom{
	background-color:#78bbe6;
	border-top:1px solid #ddd;
	margin-top:20px;
	clear:both;
	color:#fff;
	text-shadow:1px 1px 1px #000;
}
.content_c .bottom a{
	display:block;
	clear:both;
	text-align:right;
	color:#ffa800;
	text-shadow:1px 1px 1px #000;
}

.content_c .edit {
	padding:15px 30px;
	float: right;
	margin: 0px 10px 5px 10px;
}

.content_c .add {
	margin: 0px 0px 5px 0px;
	float:left;
}

.content_c label.a{
	padding:10px 45px 0px 30px;
	display:inline-block;
}

.content_c label.b{
	padding:10px 30px 0px 30px;
	display:block;
}

.content_c label a{
	font-size:14px;
}

.content_c input[type="submit"],
.content_c input[type="button"] {
	background: #e3e3e3;
	border: 1px solid #ccc;
	color: #333;
	font-family: "Trebuchet MS", "Myriad Pro", sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 4px 0 5px;
	text-align: center;
	width: 100px;
	cursor:pointer;
	float:right;
	margin:15px 20px 10px 10px;
	text-shadow: 0px 1px 0px #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0px 0px 2px #fff inset;
	-webkit-box-shadow: 0px 0px 2px #fff inset;
	box-shadow: 0px 0px 2px #fff inset;
}
.content_c input[type="submit"]:hover,
.content_c input[type="button"]:hover {
	background: #d9d9d9;
	-moz-box-shadow: 0px 0px 2px #eaeaea inset;
	-webkit-box-shadow: 0px 0px 2px #eaeaea inset;
	box-shadow: 0px 0px 2px #eaeaea inset;
	color: #222;
}

.content_c select.class{
	border: solid 1px #E5E5E5;
	background: #FFFFFF;
	margin: 5px 30px 0px 10px;
	padding: 4px;
	font-size:12px;
	background: 
		-webkit-gradient(
			linear,
			left top,
			left 25,
			from(#FFFFFF),
			color-stop(4%, #EEEEEE),
			to(#FFFFFF)
		);
	background: 
		-moz-linear-gradient(
			top,
			#FFFFFF,
			#EEEEEE 1px,
			#FFFFFF 25px
			);
	-moz-box-shadow: 0px 0px 8px #f0f0f0;
	-webkit-box-shadow: 0px 0px 8px #f0f0f0;
	box-shadow: 0px 0px 8px #f0f0f0;
}

.content_c input[type="button"].btn_check {
	margin: -22px 20px 0 0;
}

.content_c input[type="text"],
.content_c input[type="password"]{
	border: solid 1px #E5E5E5;
	background: #FFFFFF;
	margin: 0px 0px 0px -3px;
	padding: 3px ;
	display:block;
	text-align:center;
	font-size:12px;
	width:80%;
	background: 
		-webkit-gradient(
			linear,
			left top,
			left 25,
			from(#FFFFFF),
			color-stop(4%, #EEEEEE),
			to(#FFFFFF)
		);
	background: 
		-moz-linear-gradient(
			top,
			#FFFFFF,
			#EEEEEE 1px,
			#FFFFFF 25px
			);
	-moz-box-shadow: 0px 0px 8px #f0f0f0;
	-webkit-box-shadow: 0px 0px 8px #f0f0f0;
	box-shadow: 0px 0px 8px #f0f0f0;
}

.content_c input[type="text"]:focus,
.content_c input[type="password"]:focus{
	background:#b1ceed;
}

.content_c textarea{
	border: solid 1px #E5E5E5;
	background: #FFFFFF;
	margin: 5px 30px 0px 0px;
	padding: 5px;
	display:block;
	font-size:12px;
	width:87%;
	height:100px;
	background: 
		-webkit-gradient(
			linear,
			left top,
			left 25,
			from(#FFFFFF),
			color-stop(4%, #EEEEEE),
			to(#FFFFFF)
		);
	background: 
		-moz-linear-gradient(
			top,
			#FFFFFF,
			#EEEEEE 1px,
			#FFFFFF 25px
			);
	-moz-box-shadow: 0px 0px 8px #f0f0f0;
	-webkit-box-shadow: 0px 0px 8px #f0f0f0;
	box-shadow: 0px 0px 8px #f0f0f0;
}

.content_c textarea:focus{
	background:#feffef;
}

.content_c span{
	margin: 0 0 0 30px; 
}

.content_c a{
	color:red;
}

.content_c a:hover{
	color:black;
}

.content_c a.white_link{
	color:black;
}

.content_c a.white_link:hover{
	color:blue;
}

.content_c strong{
	margin: 0 0 0 0px;
	color: #78bbe6; 
}

.content_c input[type="submit"].kelas {
	margin:-32px -160px 0 0px;
}

.content_f{}
.content_f input{
	border: solid 1px #E5E5E5;
	background: #FFFFFF;
	margin: 5px 10px 0px 10px;
	width: 200px;
	padding: 3px ;
	display:inline-block;
	font-size:12px;
	background: 
		-webkit-gradient(
			linear,
			left top,
			left 25,
			from(#FFFFFF),
			color-stop(4%, #EEEEEE),
			to(#FFFFFF)
		);
	background: 
		-moz-linear-gradient(
			top,
			#FFFFFF,
			#EEEEEE 1px,
			#FFFFFF 25px
			);
	-moz-box-shadow: 0px 0px 8px #f0f0f0;
	-webkit-box-shadow: 0px 0px 8px #f0f0f0;
	box-shadow: 0px 0px 8px #f0f0f0;
}

.content_c_c{}
.content_c_ck input{
	border: solid 1px #E5E5E5;
	background: #FFFFFF;
	margin: -20px 50px 0px 60px;
	width: 30px;
	padding: 3px ;
	display:inline-block;
	font-size:12px;
	background: 
		-webkit-gradient(
			linear,
			left top,
			left 25,
			from(#b1ceed),
			color-stop(4%, #b1ceed),
			to(#b1ceed)
		);
	background: 
		-moz-linear-gradient(
			top,
			#FFFFFF,
			#EEEEEE 1px,
			#FFFFFF 25px
			);
	-moz-box-shadow: 0px 0px 8px #f0f0f0;
	-webkit-box-shadow: 0px 0px 8px #f0f0f0;
	box-shadow: 0px 0px 8px #f0f0f0;
}

.content_c_c input{
	border: solid 1px #E5E5E5;
	background: #FFFFFF;
	margin: 5px 10px 0px 10px;
	
	width: 20%;
	padding: 3px ;
	display:inline-block;
	font-size:12px;
	background: 
		-webkit-gradient(
			linear,
			left top,
			left 25,
			from(#FFFFFF),
			color-stop(4%, #EEEEEE),
			to(#FFFFFF)
		);
	background: 
		-moz-linear-gradient(
			top,
			#FFFFFF,
			#EEEEEE 1px,
			#FFFFFF 25px
			);
	-moz-box-shadow: 0px 0px 8px #f0f0f0;
	-webkit-box-shadow: 0px 0px 8px #f0f0f0;
	box-shadow: 0px 0px 8px #f0f0f0;
}

.content_c_c input[type="text"],
.content_c_c input[type="password"]{
	border: solid 1px #E5E5E5;
	background: #FFFFFF;
	margin: 0px 0px 0px -3px;
	padding: 3px ;
	display:block;
	text-align:center;
	font-size:12px;
	width:30%;
	background: 
		-webkit-gradient(
			linear,
			left top,
			left 25,
			from(#FFFFFF),
			color-stop(4%, #EEEEEE),
			to(#FFFFFF)
		);
	background: 
		-moz-linear-gradient(
			top,
			#FFFFFF,
			#EEEEEE 1px,
			#FFFFFF 25px
			);
	-moz-box-shadow: 0px 0px 8px #f0f0f0;
	-webkit-box-shadow: 0px 0px 8px #f0f0f0;
	box-shadow: 0px 0px 8px #f0f0f0;
}	

.content_c_c input[type="submit"],
.content_c_c input[type="button"] {
	background: #78bbe6;
	border: 1px solid #ccc;
	color: #f2f7fa;
	font-family: "Trebuchet MS", "Myriad Pro", sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 4px 0 5px;
	text-align: center;
	width: 100px;
	cursor:pointer;
	float:right;
	margin:20px 40px 10px 10px;
	text-shadow: 0px 1px 0px #333;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0px 0px 2px #fff inset;
	-webkit-box-shadow: 0px 0px 2px #fff inset;
	box-shadow: 0px 0px 2px #fff inset;
}

.content_c_c input[type="submit"]:hover,
.content_c_c input[type="button"]:hover {
	background: #a3d3f2;
	-moz-box-shadow: 0px 0px 2px #eaeaea inset;
	-webkit-box-shadow: 0px 0px 2px #eaeaea inset;
	box-shadow: 0px 0px 2px #eaeaea inset;
	color: #FFF;
}

#mask {
	background:#678 url(../images/mask_gradient_1000.png) no-repeat;
	background-position:center;
}

form.log_admin{
	background:#fff url(img/h150.png) repeat-x;
	width:350px;
	
}

form.edit_pass{
	width:350px;
}


form.vwali{
	width:450px;
} 

form.vguru{
	width:500px;
}

form.vnilai{
	width:550px;
}

form.vsiswa{
	width:600px;
}

form.esiswa{
	width:650px;
}

.content_x ul{
	padding: 0px 10px 0px 10px;
}

.padding_view{
	margin:0px 30px 0px 30px;
}

.view{
	font-size:13px;
	border: 1px solid #ccc;
}

.view th{
	text-align:center;
	color:#FFF;
	background-color:#78bbe6;
}

.view td{
	border: 1px solid #ccc;
	text-align:center;
	color:#333;
}

.view1{
	font-size:13px;
	border: 1px solid #ccc;
}

.view1 th{
	text-align:center;
	color:#FFF;
	background-color:#78bbe6;
}

.view1 td{
	border: 1px solid #ccc;
	color:#333;
}

.paging{
	margin:10px 280px 0px 0px;
}

.searcha{
	margin:-10px 0px 10px 30px;
}

.back{
	margin:-56px 10px 10px 0px;
	float:right;
}
.wali{
	margin:-20px 0px 0px 40px;
	float:right;
}

.blanks{
	width:32px;
	height:32px;
	margin:-10px 30px 10px 0px;
	float:right;
}

.searcha_txt {
	width:40%;
}


.clear{
	clear:both;
}
.cek{float: right; 
	width: 300px; 
	margin: -47px 25px 0px 0;}
.black{
	float: left; 
	width: 40px; 
	margin: 0px 10px 5px 0; 
}
	
	
.block{
	float: left;
	width: 200px; 
	margin: 0px 10px 5px 0; 
}

.download{
	float: left;
	width: 380px; 
	margin: -54px 10px 5px 0; 
}

.s_block{
	float: left; 
	width: 100px;  
}

.image_fl { 
	float: left; 
	margin: 3px 30px 0 0; 
}

.image_fr { 
	float: right; 
	margin: 3px 0 0 30px; 
}

.templatemo_list { 
	margin: 10px 0 10px 0; 
	padding: 0; 
	list-style: none; 
}

.templatemo_list li { 
	color:#6e6969; 
	margin: 0 0 10px 0; 
	padding: 0 5px 0 15px; 
	background: url(../images/templatemo_list.png) no-repeat scroll 0 5px;  
}

.templatemo_list li a { 
	color: #6e6969; 
	font-weight: normal; 
}

.templatemo_list li a:hover { 
	color: #333; 
}

#templatemo_wrapper {
	width: 100%;
	background: url(../images/templatemo_wrapper.jpg) top center no-repeat;
}

#templatemo_header {
	height: 50px;
	width: 960px;
	padding: 30px 10px 10px 450px;
	margin: 0 auto
}

#site_title { 
	float: left; 
}

#site_title h1 { 
	margin: 0; padding: 0; 
}

#site_title h1 a { 
	display: block; 
	font-size: 12px; 
	font-family: Georgia, "Times New Roman", Times, serif; width: 900px; 
	height: 80px; 
	color: #acacac; 
	text-indent: -10000px; 
	background: url(../images/icons/header.png) no-repeat center left; 
}

#templatemo_menu { 
	float: left; 
	width: 960px; 
	height: 52px; 
	background: url(../images/templatemo_menu_bar.png) no-repeat; 
	margin: 0px 0px 20px;
}

#templatemo_middle {
	width: 960px;
	padding: 40px 0 0;
	margin: 0 auto;
}
#templatemo_middle_left {
	float: left;
	width: 450px;
	padding: 20px 0;
}

#templatemo_middle_left h2 { 
	color: #535353; 
	font-size: 28px; 
	font-weight: normal; 
	line-height: 34px; 
	margin-bottom: 10px; 
}

#templatemo_middle_left h2 strong { 
	display: block; 
	color: #000; 
	font-size: 38px;  
	font-weight: normal; 
}

#templatemo_middle_left a.learn_more { 
	display: block; 
	margin-top: 20px; 
	width: 164px; 
	height: 50px; 
	background: url(../images/templatemo_learn_more.png) no-repeat; 
}

.middle_box a.mb_more { 
	display: block; 
	font-weight: 700; 
	position: absolute; 
	bottom: 10px; right: 20px; 
}

#slider-wrapper {
	float: right;
    width: 305px;
    height: 253px;
    margin: 0 0 0;
	padding: 15px 18px;
	background: url(../images/monitor.png) no-repeat 
}

#slider {
	position:relative;
    width: 300px;
    height: 175px;
	background:url(../images/loading.gif) no-repeat 50% 50%;
}

#slider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}

#slider a {
	border:0;
	display:block;
}

.nivo-controlNav {
	position:absolute;
	left:260px;
	bottom:-42px;
}

.nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url(../images/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}

.nivo-controlNav a.active {
	background-position:0 -22px;
}

.nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(../images/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}

a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
a.nivo-prevNav {
	left:15px;
}

.nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}

.nivo-caption a { 
    color:#efe9d1;
    text-decoration:underline;
}

#templatemo_main_wrapper {
	clear: both;
	width: 100%;
	background: url(../images/templatemo_content_top.png) no-repeat top center 
}

#templatemo_main {
	width: 960px;
	padding: 60px 10px 40px;
	margin: 0 auto;
	background: url(../images/templatemo_content_top.png) no-repeat top center 
}

#content {
	float: left;
	width: 620px;
}

.col_2 { width: 280px }

.testimonial { 
	padding: 0 0 0 50px; 
	display: block; 
	background: url(../images/testimonial.png) left top no-repeat; 
}

.post {
	clear: both;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #c6c6c6;
}

.post h2 { 
	/*margin-bottom: 10px; */
}

.post .meta { 
	font-size: 10px; 
	margin-bottom: 20px; 
}

.post .meta a, .post .meta strong { 
	color: #333; 
	font-weight: 700; 
}

#comment_section {
	clear: both;
	margin-bottom: 60px;
	width: 588px;
}

.first_level {
	margin: 0; padding: 0;
}

.comments {
	list-style: none; 
}

.comments li { 
	margin-bottom: 10px; 
	list-style:none; 
}

.comments li .commentbox1 { 
	border-top: 1px solid #d7d7d7;  
	background: #f6f6f6; 
}

.comments li .commentbox2 { 
	border-top: 1px solid #c2c2c2;  
	background: #d7d7d7; 
}

.comments li .comment_box { 
	clear: both; 
	width:100%; 
	padding: 15px;  
}

.comment_box .gravatar { 
	float: left; 
	width: 75px; 
	margin-right: 30px; 
}

.comment_box .gravatar img {  
	width: 75px; 
	height: 75px; 
}

.comment_box .comment_text {  }

.comment_box .comment_text p { 
	margin: 0; 
}

.comment_text .comment_author { 
	font-size: 14px; 
	font-weight: bold; 
	color: #000; 
	margin-bottom: 10px; 
}

.comment_text .date { 
	font-size: 12px; 
	font-weight: normal; 
	color: #000; 
	padding-left: 10px; 
}

.comment_text .time { 
	font-size: 12px; 
	font-weight: normal; 
	color: #000; 
	padding-left: 10px; 
}

.comment_text .reply a { 
	display: block; 
	clear: both; 
	float: right; 
	color: #000; 
	font-weight: 700; 
} 

#comment_form {
	clear: both;
}

#comment_form h3 {
	font-size: 20px;
	border-bottom: 1px dotted #666;
	margin-bottom: 15px;
	padding-bottom: 10px;
}

#comment_form form {
	padding: 20px;
	background-color: #f6f6f6;
	border: 1px solid #d7d7d7;
}

#comment_form textarea {
	color: #111;
	background:#fff none repeat fixed 0 0;
	border: 1px solid #d7d7d7;
	height:150px;
	width: 360px;
	margin-top:5px;
	padding:5px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	margin-top: 5px;
}

#comment_form .form_row {
	width: 100%;
	margin-bottom: 15px;
}

#comment_form form input {
	color: #111;
	margin-top: 5px;
	padding: 5px;
	width: 200px;
	background:#fff none repeat fixed 0 0;
	border: 1px solid #d7d7d7;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	margin-top: 5px;
}

#comment_form .submit_btn {
	display: block; 
	width: 80px; 
	padding: 3px 8px; 
	text-align: center; 
	text-decoration: none; 
	font-weight: bold;  
	background: #666; 
	border: 1px solid #444; 
	color: #fff; 
	font-size:11px; cursor: pointer 
}

.rp_pp { margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px dotted #ced4dc }
.rp_pp a { color: #666; font-weight: 700 }
.rp_pp img { float: right; margin-left: 15px; }
.rp_pp img.sidebar { float: left; margin: 0 15px 0 0; }
.rp_pp p { font-size: 10px }

.gallery_box { 
	float: left; 
	width: 300px; 
	margin: -30px 20px 40px 0; 
}

#contact_form { 
	margin: -30px 20px 20px 50px; 
}

#contact_form form { 
	margin: 0px; 
	padding: 0px; 
}

#contact_form form .input_field { 
	width: 270px; 
	padding: 5px; 
	color: #111;  
	background: #fff; 
	border: 1px solid #ccc;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	margin-top: 5px;
}

#contact_form form label { 
	display: block; 
	width: 100px; 
	margin-right: 12px; 
	font-size: 13px; 
}

#contact_form form textarea { 
	width: 580px; 
	height: 200px; padding: 5px; 
	color: #111;
	background: #fff; 
	border: 1px solid #ccc; 
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	margin-top: 5px;
}

#contact_form form .submit_btn { 
	margin: 10px 0px;
	padding: 5px 14px;
	background: #fff; 
	border: 1px solid #ccc; 
}

#sidebar {
	float: right;
	width: 280px;
}

.sb_box_first {
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.sb_box {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #ccc
}

.flickr_stream { 
	margin: 0; 
	padding:0; 
	list-style: none; 
}

.flickr_stream li { 
	float: left; 
	margin: 0 8px 8px 0; 
	padding: 0; 
}

#templatemo_footer_wrapper {
	width: 100%;
	background: #e9e9e9 url(../images/templatemo_footer_bg_repeat.png) repeat-x top
}

#templatemo_footer {
	width: 960px;
	margin: 0 auto;
	padding: 10px 10px 20px;
	color: #666;
	background: url(../images/templatemo_footer_bg.png) center top no-repeat;
}

.col_4 { 
	float: left; 
	width: 960px; 
}

a.goto_top { 
	display: block; 
	width: 30px; 
	height: 31px; 
	margin: 10px auto 10px; 
	background: url(../images/templatemo_top.png) no-repeat top center;  
}

#templatemo_footer h5 { 
	font-size: 14px; 
	font-weight: 700; 
	margin-bottom: 20px; 
}

.footer_list { 
	margin: 0; 
	padding: 0; 
	list-style: none; 
}

.footer_list li { 
	margin: 0 0 5px; 
	padding: 0 0 3px; 
	border-bottom: 1px dotted #433854; 
}

.footer_list li a { 
	color: #666; 
}

.twitter_post { 
	margin: 0; 
	padding: 0; 
	list-style: none; 
}

.twitter_post li { 
	margin: 0 0 10px; 
	padding: 0 0 7px; 
	border-bottom: 1px dotted #433854; 
}

.footer_social_button { 
	clear: both; 
	margin-top: 20px; 
}

.footer_social_button a { 
	margin-right: 5px; 
}

#templatemo_cr_bar_wrapper {
	clear: both;
	width: 100%;
	height: 120px;
	background: #161616 url(../images/templatemo_footer.png) repeat-x 
}

#templatemo_cr_bar {
	width: 962px;
	margin: 0 auto;
	padding: 80px 9px 0;
	color: #a097ae;
	text-align: center
}

#templatemo_cr_bar a { color: #b8b0c4 }

.no_margin_right { margin-right: 0 }

.pagging { 
	margin: 0 0 20px; 
	padding: 0; 
}

.pagging ul { 
	margin: 0; 
	padding: 0; 
	list-style: none; 
}

.pagging ul li { 
	margin: 0; 
	padding: 0; 
	display: inline; 
}

.pagging ul li a { 
	float: left; 
	display: block; 
	color: #333; 
	text-decoration: none; 
	margin-right: 5px; 
	padding: 5px 10px; 
	background-color: #f6f6f6; 
	border: 1px solid #dfdfdf; 
}

.pagging ul li a:hover { 
	background: #e50000; 
	border: 1px solid #dfdfdf; 
	color: #fff;  
}




